@page "/"
@inject HttpClient Http
@using Data

<PageTitle>Home</PageTitle>

<h1>Company Search</h1>

<div class="form-group">
	<label for="name">Name:</label>
	<input type="text" id="name" @bind="searchName" class="form-control" />
</div>
<button class="btn btn-primary" @onclick="GetCompanyData">Search</button>

@if (_companies == null) {
	<p><em>Loading...</em></p>
}
else {
	<table class="table">
		<thead>
			<tr>
				<th>Id</th>
				<th>Category</th>
				<th>Name</th>
			</tr>
		</thead>
		<tbody>
			@foreach (var company in _companies) {
				<tr>
					<td>@company.Id</td>
					<td>@company.Category</td>
					<td>@company.Name</td>
				</tr>
			}
		</tbody>
	</table>
}

@code {
	private List<Company>? _companies;
	private string searchName = string.Empty;

	private async Task GetCompanyData() {
		var query = "api/companies";
		var parameters = new List<string>();

		if (!string.IsNullOrEmpty(searchName)) {
			parameters.Add($"name={searchName}");
		}

		if (parameters.Any()) {
			query += "?" + string.Join("&", parameters);
		}

		_companies = await Http.GetFromJsonAsync<List<Company>>(query);
	}
}